body {
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #50b390;
	border-radius: 0;
	border: 0px;
	padding-bottom: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand {
	padding-bottom: 50px;
}

#nav-list {
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a {
	color: #50b390;
	text-align: center;
	background: #fff;
}
#nav-list a:hover {
	background: #f8dcde;
}
#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fff;
}

.navbar-header button.navbar-toggle:hover {
	background: #f8dcde;
}

.navbar-toggle {
  float: right;
  padding: 9px 10px;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 0px;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



/** HOMEPAGE **/
* {
  box-sizing: border-box;
}

h1 {
  margin-top: 5px;
  text-align: center;
  color: black;
}

p.chicken {
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  background-color: #d59899;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  width: 33%;
}

p.beef {
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  background-color: #c14543;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  width: 33%;
}

p.sushi {
  border: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  background-color: #e5d198;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  width: 33%;
}

section {
  border: 1px solid black;
  background-color: #999999;
  width: 100%;
  height: 900px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px; 
  font-family: Helvetica;
  color: black;
  overflow: auto;
}

section div {
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
}

.chicken {
  float: right;
  margin: 0;
}

.beef {
  float: right;
  margin: 0;
}

.sushi {
  float: right;
  margin: 0;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop version **********/
@media (min-width: 992px) {
 
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/** Mobile version **/
@media (max-width: 767px) {

}
